<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SalesMapper">
    
    <resultMap type="Sales" id="SalesResult">
        <result property="sID"    column="sID"    />
        <result property="time"    column="time"    />
        <result property="name"    column="name"    />
        <result property="pID"    column="pID"    />
        <result property="price"    column="price"    />
        <result property="nuum"    column="nuum"    />
        <result property="Totalprice"    column="Totalprice"    />
        <result property="person"    column="person"    />
    </resultMap>

    <sql id="selectSalesVo">
        select sID, time, name, pID, price, nuum, Totalprice, person from Sales
    </sql>

    <select id="selectSalesList" parameterType="Sales" resultMap="SalesResult">
        <include refid="selectSalesVo"/>
        <where>  
            <if test="sID != null  and sID != ''"> and sID = #{sID}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pID != null  and pID != ''"> and pID = #{pID}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="nuum != null "> and nuum = #{nuum}</if>
            <if test="Totalprice != null  and Totalprice != ''"> and Totalprice = #{Totalprice}</if>
            <if test="person != null  and person != ''"> and person = #{person}</if>
        </where>
    </select>
    
    <select id="selectSalesById" parameterType="String" resultMap="SalesResult">
        <include refid="selectSalesVo"/>
        where sID = #{sID}
    </select>
        
    <insert id="insertSales" parameterType="Sales">
        insert into Sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sID != null">sID,</if>
            <if test="time != null">time,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="pID != null and pID != ''">pID,</if>
            <if test="price != null and price != ''">price,</if>
            <if test="nuum != null">nuum,</if>
            <if test="Totalprice != null and Totalprice != ''">Totalprice,</if>
            <if test="person != null and person != ''">person,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sID != null">#{sID},</if>
            <if test="time != null">#{time},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="pID != null and pID != ''">#{pID},</if>
            <if test="price != null and price != ''">#{price},</if>
            <if test="nuum != null">#{nuum},</if>
            <if test="Totalprice != null and Totalprice != ''">#{Totalprice},</if>
            <if test="person != null and person != ''">#{person},</if>
         </trim>
    </insert>

    <update id="updateSales" parameterType="Sales">
        update Sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="pID != null and pID != ''">pID = #{pID},</if>
            <if test="price != null and price != ''">price = #{price},</if>
            <if test="nuum != null">nuum = #{nuum},</if>
            <if test="Totalprice != null and Totalprice != ''">Totalprice = #{Totalprice},</if>
            <if test="person != null and person != ''">person = #{person},</if>
        </trim>
        where sID = #{sID}
    </update>

    <delete id="deleteSalesById" parameterType="String">
        delete from Sales where sID = #{sID}
    </delete>

    <delete id="deleteSalesByIds" parameterType="String">
        delete from Sales where sID in 
        <foreach item="sID" collection="array" open="(" separator="," close=")">
            #{sID}
        </foreach>
    </delete>

</mapper>